.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 64px;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #fff;
  background-color: #0b08b4;
  box-shadow: 0px 2px 4px -1px rgba(74, 25, 207, 0.39),
    0px 5px 5px 0px rgba(0, 255, 255, 0.2),
    0px 10px 10px 0px rgba(0, 255, 255, 0.15);
}

.link {
  display: inline-block;
  margin-right: 30px;
  font-size: 24px;
  color: #ffffff;
  text-decoration: none;
}

.activeLink {
  display: inline-block;
  margin-right: 30px;
  font-size: 24px;
  color: yellow;
  text-decoration: none;
}

.link:hover {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgb(216, 20, 69);
  transform: scale(1.3);
}
